

.pricing-section {
    grid-column:1/5;
}
.price-container {
    font-size:smaller;
    color:#838383;
}
.zeffy-donate-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .zeffy-donate-button:hover {
    background-color: #45a049;
  }